{
  "presets": ["react", "env"],
  "plugins": [
    "transform-class-properties",
    "transform-decorators",
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
