body {
  color: #222;
  font-family: sans-serif;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  position: relative;

  &:before {
    content: '';
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    // background-image: url('../images/enlist.jpg');
  }

  #app {
    padding: 1em;
  }
}

.navigation {
  &:hover .item {
    border-bottom-color: transparent !important;
  }

  .item {
    transition: all 0.3s ease !important;

    &:hover {
      border-color: #1b1c1d !important;
    }
  }
}

.page-content {
  padding-top: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 0.5em;
}

.pages {
  position: relative;

  > * {
    position: absolute;
    width: 100%;
  }
}

.padded {
  padding: 1em;
}
